
.template-clubs .clubs-section {
    flex-direction: row;
}



.club {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.template-clubs .clubs-section:nth-child(odd) {
    flex-direction: row-reverse;
}


.clubs h3 {
    
}


.clubs p {
    
}


.clubs a {
    
}